body{font-family:Arial!important;color:#000;}
*{ box-sizing:border-box;}
.top .navbar{border:0;border-radius: 0;margin-bottom:0;min-height:94px;background:#fff;}
.top #myNavbar{margin-top:25px;}
.navbar-inverse .navbar-nav>li>a{color:#000;webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;}
.navbar-inverse .navbar-nav>li>a.download{background:#ffd204;display:table;font-size:12px;font-weight:bold;padding:5px 20px;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background:none;color:#09a2a7;webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{color:#09a2a7;}
.container-fluid{padding-right:0;padding-left:0;}
.content_rod{position:relative;/*margin-bottom:100px;*/}
.content_rod .image_header{width:100%;height:auto;}
.content_down_app{position:absolute;bottom:0;/*width:100%;*/text-align:left;padding-left:128px;}
.content_down_app a{display:inline-block;margin:0 10px;}
.content_down_app a img{max-width:190px;height:auto;}
.titre{text-align:center;background: url("../images/back_titre.jpg") no-repeat center bottom;padding-bottom:20px;font-size:22px;text-transform:uppercase;margin:0 0 50px 0;line-height: normal; letter-spacing:3px;font-weight:600;}
#offre_exclusives h3{text-align:center;margin:0 0 50px 0;padding:0;font-size:18px;font-weight:600;}
.logo_partenaire{margin:0 0 20px 0;padding:0;display:block;}
.list_offre ul{list-style-type:none;text-align:center ;margin:0 0 30px 0;padding:0;}
.list_offre ul li{display: inline-block;margin:0 80px 20px 80px;max-width:200px;vertical-align:top;}
.list_offre ul li a:hover{text-decoration:none;}
.text_logo_partenaire{display:block;}
.text_logo_partenaire{text-transform:uppercase;font-size:12px;color:#000;font-weight:bold;}
section{/*margin-bottom:50px;*/border:0!important; outline: none!important;}
#dernier_zafer img{max-width:196px;margin:0 auto;}
.owl-prev{float:left;}
.owl-next{float:right;}
/*.owl-nav{position:absolute;top:25%;width:100%;}*/
.owl-prev{position:absolute;left:0;top:40%;}
.owl-next{position:absolute;right:0;top:40%;}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{display:block;}
.owl-dots{display:none;}
.owl-theme .owl-nav span{font-size:60px!important;font-weight:normal!important;}
.content_acceder{width:100%;margin:60px 0 0 0;padding:0;text-align:center;}
.content_acceder a{display: inline-table;background:#ffd204;color:#fff;text-transform:uppercase;font-size:38px;padding:5px 40px;font-weight:normal;}
.content_acceder a:hover{text-decoration:none;}
#telecharger_appli{width:100%;padding:60px 0 60px 0;background:url(../images/back_appli_v2.png) no-repeat left top;background-size: cover;position:relative;}
.oeil_gauche{position:absolute;left:0;top:-90px;}
.oeil_gauche img{max-width:294px;}
.content_down_appli{margin-top:30px;position:relative;}
.content_oeil{position:absolute;top:-60px;right:0;}
.content_oeil img{max-width:140px;}
#telecharger_appli .titre{background:none;padding:0;font-size:22px;font-weight:bold;position:relative; z-index:100;}
.content_down_app_telecharger_appli{width:100%;margin:0;padding:0;text-align:center;}
.content_down_app_telecharger_appli a{display:inline-block;margin:0 10px;position:relative; z-index:100;}
.content_down_app_telecharger_appli a img{width:100%;height:auto;max-width:150px;border:1px solid #fff;}
.content_inner_pourquoi{text-align:center;}
.nav>li>a{padding:5px 20px;}
#contact{width:100%;background:url(../images/back_content_contact.png) no-repeat left center; background-size:cover;color:#fff;padding-bottom:0;margin-bottom:0;}
#contact h2{text-align:center;font-size:22px;text-transform:uppercase; letter-spacing:3px;}
#contact .col-md-6{padding-left:0;padding-right:0;}
.content_contact{background:url(../images/pinceau_contact.png) no-repeat left top;padding-left:60px;}
.inner_content_contact h3{margin:0;padding:0;font-size:18px;text-transform:uppercase;}
.inner_content_contact p{font-size:18px;}
.inner_content_contact_right{text-align:center;margin-top:30px;}
.inner_content_contact_right h3{margin:0;padding:0;font-size:18px;text-transform:uppercase;}
.inner_content_contact_right p{font-size:27px;font-weight:normal;}
.content_contact_top{padding:0 20px 0 0;border-bottom:3px solid #ffd204;margin:0 0 50px 0;display:table;}
#Suivez_nous h2{text-align:center;font-size:25px;text-transform:uppercase;margin:0 0 20px 0;line-height: normal; letter-spacing:3px;font-weight:bold;}
#Suivez_nous .list_reseaux_socio{text-align:center;}
#Suivez_nous .list_reseaux_socio a{display:inline-block;margin:0 10px;}
#foot_top{background:#22afa9;padding:30px 0;margin:0;}
#foot_top .list_lien_footer{text-align:center;}
#foot_top .list_lien_footer ul{list-style-type:none;margin:0;padding:0;}
#foot_top .list_lien_footer ul li{display:inline-block;margin:0 30px 0 30px;}
#foot_top .list_lien_footer ul li a{text-transform:uppercase;font-size:14px;color:#000;font-weight:bold;}
#foot_bottom{background:#000;color:#fff;padding:10px 0;margin:0;}
#foot_bottom p{margin:0;font-size:12px;text-transform:uppercase;text-align:center; line-height:none;font-weight:bold;}
#foot_bottom p a{color:#fff;}
.content_savoire_plus{text-align:center;}
.content_savoire_plus a{display:inline-block;background:#ffd204;padding:5px 30px;color:#000;text-decoration:none;font-size:18px;text-transform:uppercase;font-weight:bold;}
.bg_gris{background:#f6f6f6;padding:30px 0;}
.owl-theme .owl-nav [class*=owl-]:hover{background:none;cursor:pointer;color:#000;border:0;}
.owl-theme .owl-nav [class*=owl-]:focus{border:0;outline:none;}
.owl-carousel{margin-bottom:50px;}
section#dernier_zafer{margin-bottom:0;}
.scrollTop{position: fixed;right: 10%;bottom: 10px;background:#22afa9;padding:0;opacity: 0;transition: all 0.4s ease-in-out 0s;width:50px;height:50px;border-radius:50%;cursor:pointer;text-align:center;border:1px solid #fff;}
.scrollTop:hover{background: #2bcdd0;}
.scrollTop a {
    font-size: 35px;
    color: #fff;
    line-height: 50px;
    font-weight: bold;
}
.sticky{position:fixed;width:100%;top:0;z-index:1000;}
#Suivez_nous{margin:0;padding:25px 0;}
#offre_exclusives,#dernier_zafer{padding-top:100px;}
#pourquoi_rod_zafer{padding-top:100px;margin-bottom:50px;}
.owl-item .item a{position:relative;z-index:100;display:block;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{text-indent:-9000px;width:17px;height:32px;}
.owl-carousel .owl-nav button.owl-prev span{background:url(../images/back_fleche_prev.jpg) no-repeat left top;width:17px;height:32px;display:block;}
.owl-carousel .owl-nav button.owl-next span{background:url(../images/back_fleche_next.jpg) no-repeat left top;width:17px;height:32px;display:block;}
.navbar-brand{margin-left:15px!important;}
#dernier_zafer .modal-body{text-align:center;}
#dernier_zafer .modal-body  img{max-width:inherit;width:100%;height:auto;max-width:420px;}
.owl-carousel .item{padding:0 25px;}
.top_content_pourquoi{margin-top:80px;position:relative;z-index:100;}
.bottom_content_pourquoi{margin-top:40px;position:relative;z-index:100;}
.col1 .bottom_content_pourquoi{margin-top:190px;}
.content_inner_pourquoi img{margin:0 auto;}
.tooltip {
	position: absolute;
	z-index: 10700;
	display: inline;
	width: 300px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=0);
	opacity: 0;
	line-break: auto;
	text-decoration: none;
}
.tooltip.in {
	filter: alpha(opacity=1);
	opacity: 1;
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
	top:50%!important;
	left:20%!important;
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}
.tooltip-inner {
	max-width: 300px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: left;
	margin-left: 5px;
	text-indent: 0;
	/*background-color: #000;*/
	 background-color: rgba(0, 0, 0, 0.9)!important;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 5px;
	height: 2px;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
	top:0!important;
	left: 20%!important;
	margin-top: -12px;
	/*border-width: 5px 5px 5px 0;
	border-right-color: #000!important;*/
	border-left: 8px solid transparent!important;
    border-right: 8px solid transparent!important;
    border-bottom: 8px solid #000!important;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}
.area-tooltip {
  position: absolute;
  visibility: hidden;
}
.tooltip-inner{font-family:Arial, Helvetica, sans-serif;padding:10px 0 0 0;}
.tooltip-inner h3{font-size:14px;text-transform: uppercase;font-weight:bold;line-height:normal;margin:0 0 10px 0;padding:0 10px;}
.tooltip-inner p{margin:0 0 10px 0;padding:0 10px;line-height:normal;font-size:12px;}
.content_inner_pourquoi .col1 img:hover,.content_inner_pourquoi .col3 img:hover{cursor:pointer;}
.tooltip-inner:after{content:"";position:relative;background:#09abb0;width:100%;height:8px;display:block;border-radius:0 0 4px 4px;}
@media screen and (max-width: 1024px) {
    .top .logo{max-width:126px;}
    .top #myNavbar{margin-top:20px;}
	.nav>li>a{padding-left:10px;padding-right:10px;}
}
@media screen and (max-width: 991px) {
	.col1.col-md-4{width:100%;}
	.col2.col-md-4{width:100%;}
	.col3.col-md-4{width:100%;}
	.top_content_pourquoi{width:50%;float:left;}
	.bottom_content_pourquoi{width:50%;float:left;}
	.top_content_pourquoi{margin-top:50px;}
	.col1 .bottom_content_pourquoi{margin-top:180px;}
}
@media screen and (max-width:767px) {
    .navbar-inverse .navbar-toggle .icon-bar{background-color: #333;}
	.top .navbar{min-height:70px;background:none;}
	.navbar-inverse .navbar-toggle{margin-top:20px;}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background:transparent;}
	.top .navbar{width:100%;position:fixed;top:0;z-index:100;}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border:0;}
	.nav.navbar-nav.navbar-right{/*border-top:1px solid #000;*/}
	.navbar-inverse .navbar-nav>li>a.download{margin-left:10px;}
	.navbar-header{background:#fff;min-height:70px;}
	.top #myNavbar{background-color: rgba(255, 255, 255, 0.8);}
	.top #myNavbar{margin-top:0;border-top:1px solid #000;}
	.content_down_app a img{max-width:130px;}
	.head_rod{margin-top:100px;}
	.oeil_gauche{left:-15px;}
	.content_contact_top{padding:0;}
	.oeil_gauche,.content_oeil{display:none;}
	.nav>li{padding:10px 0;}
}
@media screen and (max-width:640px) {
	.content_down_app{padding-left:0;text-align:left;bottom:-50px;}
	.content_down_app a{margin:0 10px 20px 10px;}
	.col1.col-md-4{width:100%;}
	.col2.col-md-4{width:100%;}
	.col3.col-md-4{width:100%;}
	.top_content_pourquoi{width:100%;float:left;}
	.bottom_content_pourquoi{width:100%;float:left;}
	.top_content_pourquoi{margin-top:50px;}
	.col1 .bottom_content_pourquoi{margin-top:40px;}
	}
@media screen and (max-width:480px) {
	.content_down_app_telecharger_appli a{margin-left:5px;margin-right:5px;margin-bottom:10px;}
	.content_down_app_telecharger_appli a img{max-width:130px;}
	.tooltip.right {left:0!important;}
	}
